.wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.info {
  font-size: var(--font-size-md);
}