.app.dark {
  --bg-color: #252728;

  // --inverted-bg-color: #e8e8ea;

  --second-bg-color: #414945;

  // --second-inverted-bg-color: #e3e3e8;

  --primary-color: #eaecea;

  // --inverted-primary-color: #0232c2;

  --secondary-color: #e9ccf0;

  // --inverted-secondary-color: #0449e0;

  --navbar-bg: #3f3e4bf4;
  --light-color: black;
  --black-color: white;
}
