.app {
  --bg-color: #ddf7ea;

  // --inverted-bg-color: #18182b;

  --second-bg-color: #f5fff9;

  // --second-inverted-bg-color: #22222f;

  --primary-color: #1a1c20;
  --success-color: #41c685;

  // --inverted-primary-color: #edf3ed;

  --secondary-color: #193268;

  // --inverted-secondary-color: #7292eb;

  --navbar-bg: #cf3f5ef4;
  --light-color: white;
  --black-color: black;
}
